/*-- scss:defaults --*/

$body-bg: #F3E9DC;
$body-color: #3B2F2A;

$primary: #1B7A72;
$secondary: #C1622D;

$link-color: $primary;

$navbar-bg: $primary;
$navbar-fg: $body-bg;

$headings-color: $primary;